* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* share style */

.font-open-sans {
  font-family: "Open Sans", sans-serif;
}

.logo h2 {
  font-size: 40px;
  font-weight: 900;


}

.orange-color {
  color: #FD6E0A;
}

.or-btn {
  padding: 15px 30px;
  background-color: #FD6E0A;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;

}

/* main style */

header {
  background-color: #FFF8F3;
  padding-top: 50px;

}

nav {
  display: flex;
  justify-content: space-between;
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
  align-items: center;

}

.menu {
  display: flex;
  gap: 50px;
  list-style: none;
  align-items: center;
  justify-content: center;

}

.menu li a {
  text-decoration: none;
  color: #474747;
  font-size: 20px;
  font-weight: 600;
}