* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* share style */

.font-open-sans {
  font-family: "Open Sans", sans-serif;
}

.logo h2 {
  font-size: 40px;
  font-weight: 900;
}
.p-text{
  line-height: 30px;
  font-size:18px;
  color: #474747;
  margin: 0 0 30px 0;

}

.orange-color {
  color: #FD6E0A;
}

.or-btn {
  padding: 15px 30px;
  background-color: #FD6E0A;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;

}
.section-heading{
  max-width: 827px;
  text-align: center;
}
.section-heading h2{
  font-size: 35px;
  margin:0 0 30px 0;
}
/* main style */

header {
  padding-top: 50px;
  background: url(/images/developer.png), url(/images/header_bg.png),#FFF8F3;
  background-repeat: no-repeat;
  background-position: top left,bottom right;

}

nav {
  display: flex;
  justify-content: space-between;
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
  align-items: center;

}

.menu {
  display: flex;
  gap: 50px;
  list-style: none;
  align-items: center;
  justify-content: center;

}

.menu li a {
  text-decoration: none;
  color: #474747;
  font-size: 20px;
  font-weight: 600;
}
#hero-section{
  margin: 45px 38px 0 210px;
  display:flex;
  justify-content: space-between;
  align-items: center;

}
.hero-contant h2{
  font-size: 40px;
  font-weight: 600;
  color:#474747;
  margin:0 0 5px 0;
}
.hero-contant h1{
  font-size: 70px;
  color: #181818;
  font-weight: bold;
  margin: 0 0 20px 0;

}
.hero-contant{
max-width: 585px;
height: 385;
}
.hero-btns{
  display: flex;
  gap: 20px;
}
.hero-img img{
  max-width: 585;
 vertical-align: middle;
}
#about{
  padding-top: 130px;
}
.about-container{
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
  background-color:#f6ede7;
  border-radius: 5px;
  text-align: center;
  padding: 131px 156px;

}
.about-info{
  display: flex;
  justify-content: space-around;


} 
.about-container .info-card p{
  font-size: 20px;
  margin-bottom: 30px;
  line-height: 30px;
  color: #757575;
}
.about-container .info-card h4{
  font-size: 20px;
  color:#4d4949;

}
